<%
    var logo = getData('logo')
    var logo_text = getData('logo_text')
    var header_text = getData('header_text')
%>
<header data-id="<%=data.id%>" id="bottomheader">
    <div class="bottomheader">
        <div class="before"></div>
        <div class="kdg-container">
            <div class="kdg-row">
                <div class="kdg-col-5 left">
                    <div class="open-menu">
                        <img src="/images/menu.png" alt="">
                    </div>
                    <a class="logo" href="/">
                        <img src="<%=logo%>" alt="">
                        <span class="text"><%=logo_text%></span>
                    </a>
                </div>
                <div class="kdg-col-7 right">
                    <p class="header-text"><%=header_text%></p>
                </div>
            </div>
        </div>
        <div class="after"></div>
    </div>
</header>

<script>
    window.addEventListener('load', function() {
        var openmenu = document.querySelector('#bottomheader .open-menu')
        document.querySelector('.right .header-text').style.left = '80px'
        openmenu.onclick = function (e) {
            document.getElementById('menu').classList.add('active')
        }
    })
</script>