<%
    var logo = getData('logo')
%>
<header>
    <div class="bottomheader">
        <div class="kdg-container">
            <div class="kdg-row">
                <div class="kdg-col-6 left">
                    <a class="logo" href="/"><img src="<%=logo%>" alt=""></a>
                </div>
            </div>
        </div>
    </div>
</header>