@import '../includes/mixin';
@import '../includes/var';

#banner {
    position: relative;
    overflow: hidden;
    &.img-banner{
        &::before {
            padding-top: calc(1% * var(--percent-height));
        }
    }
    @media only screen and (max-width : 992px){
        &.img-banner{
            &::before{
                padding-top: 100%;
            }
        }
    }
    @media only screen and (max-width : 768px){
        &.img-banner{
            &::before{
                padding-top: 160%;
            }
        }
    }
    .block-banner{
        font-size: 0;
        position: absolute;
        top: 0;
        left: calc(100% * (var(--item-index) - var(--current-index)));
        width: 100%;
        height: 100%;
        transition: all .3s ease;
        img{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            -o-object-fit: cover;
                object-fit: cover;
        }
        >.info {
            position: absolute;
            left: 50%;
            top: 50%;
            width: 100%;
            transform: translate(-50% , -50%);
            padding: 0 35px;
            @media only screen and (max-width : 768px){
                padding: 0 35px;
            }
            .title{
                font-size: rem(50px);
                font-weight: 600;
                color: $sub1;
                line-height: rem(60px);
                @media only screen and (max-width : 768px){
                    font-size: rem(22px);
                    line-height: rem(20px);
                }
            }
            .description{
                font-size: rem(18px);
                margin-top: 15px;
                font-weight: 300;
                @media only screen and (max-width : 768px){
                    font-size: rem(17px);
                }
            }
            .button{
                background-color: rgba(0, 107, 99, .6) ;
                color: $sub4;
                text-transform: uppercase;
                font-size: rem(14px);
                padding: 14px 50px;
                border-radius: 5px;
                margin-top: 42px;
                @media only screen and (max-width : 768px){
                    font-size: rem(13px);
                    padding : 7px 28px;
                }
            }
        }
    }
    .count{
        position: absolute;
        bottom: 0;
        background-color: rgba(0, 46, 91, .7);
        padding: 15px 0;
        width: 100%;
        @media only screen and (max-width : 768px){
            padding: 20px 0;
            .kdg-column-5{
                .item{
                    padding: 5px 0;
                    width: 33.333333%;
                    vertical-align: bottom;
                    &:not(:nth-child(n + 4)){
                        border-bottom: 1px solid rgba(255, 255, 255, .6);
                    }
                }
            }
        }
        .item{
            width: calc(100% / var(--banner-count));
            .info {
                position: relative;
                .top{
                    img{
                        max-width: 27px;
                        @media only screen and (max-width : 768px){
                            max-width: 21.72px;
                        }
                        vertical-align: middle;
                    }
                    .text { 
                        font-size: rem(25px);
                        font-weight: 600;
                        color: $sub3;
                        margin-left: 18px;
                        @media only screen and (max-width : 768px){
                            font-size: rem(14px);
                        }
                        vertical-align: middle;
                    }
                }
                .bottom{
                    font-size: rem(18px);
                    color: $sub3;
                    margin-top: 6px;
                    @media only screen and (max-width : 768px){
                        font-size: rem(12px);
                        margin-top: 5px;
                    }
                }
            }
        }
    }
}