@import '../includes/mixin';
@import '../includes/var';

#block7{
    background-color: $sub6;
    .maincontent{
        @media only screen and (max-width : 992px) { 
            .kdg-col-6{
                width: 100%;
                .description{
                    margin: 0 -35px;
                }
                &.block{
                    padding: 0;
                    margin-top: 45px;
                    text-align: center;
                    .block-title{
                        text-align: center;
                    }
                    .list{
                        margin-top: 20px;
                        .item{
                            padding-top: 10px;
                            text-align: left;
                            margin-bottom: 8px;
                            .data{
                                border-top: 1px solid $sub8;
                            }
                            @media only screen and (max-width : 600px){
                                text-align: center;
                                width: 100%;
                                &:not(:nth-child(-n + 1)){
                                    margin-top: 15px;
                                }
                                .left,.right{
                                    width: 100%;
                                }
                            }
                        }
                    }
                }
            }
        }
        .list{
            margin-top: 50px;
            .item{
                &:not(:nth-child(-n + 2)){
                    margin-top: 30px;
                }
                font-size: 0;
                .left,.right{
                    display: inline-block;
                    vertical-align: top;
                }
                .left{
                    width: 55px;
                }
                .right{
                    padding-left: 10px;
                    width: calc(100% - 55px);
                    .title{
                        color: $sub1;
                        font-size: rem(20px);
                    }
                    .des{
                        font-size: rem(15px);
                        margin-top: 8px;
                    }
                }
            }
        }
    }
}