@import '../includes/mixin';
@import '../includes/var';
#block2 {
    background-color: $sub1;
    .description{
        color : $sub3;
        margin-top: 30px;
    }
    .maincontent{
        margin-top: 50px;
        .kdg-column-3{
            .item{
                vertical-align: top;
                &.item-1{
                    .roadmap{
                        padding: 53px 92px;
                    }
                }
                .roadmap{
                    border: 1px solid $sub3;
                    border-radius: 5px;
                    .top{
                        padding: 10px 5px;
                        color : $sub3;
                        background-color: rgba(255, 255, 255, .3);
                    }
                    .bottom{
                        padding: 9px;
                        color: $sub3;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        li{
                            list-style-type: disc;
                            list-style-position: inside;
                        }
                    }
                }
            }
        }
    }
}