@import '../includes/mixin';
@import '../includes/var';

#topheader{
    @media only screen and (max-width : 992px){
        display: none;
    }
    .topheader{
        background-color: $sub2;
        text-align: right;
        padding: 18px 0 ;
        font-size: 0;
        * {
            vertical-align: middle;
        }
        .list-socials{
            display: inline-block;
            font-size: 0;
            li {
                display: inline-block;
                width: 35px;
                padding: 0 7px;
            }
        }
        .choose-language{
            display: inline-block;
            width: 47px;
            padding: 0 7px;
            position: relative;
            .dropdown{
                position: absolute;
                top: 110%;
                opacity: 0;
                right: 0;
                pointer-events: none;
                width: 150px;
                background-color: $sub8;
                border-radius: 5px;
                transition: all .3s ease;
                z-index: 99;
                li{
                    transition: all .3s ease;
                    border-radius: 5px;
                    text-align: center;
                    padding: 10px 0;
                    img{
                        width: 30px;
                    }
                    &:hover{
                        background-color: $maincolor;
                        color: $sub9;
                    }
                }
            }
            &.active{
                .dropdown{
                    top: calc(100% + 5px);
                    right: 0;
                    opacity: 1;
                    pointer-events: all;
                }
            }
        }
    }
}